<%- include("partials/header.ejs") %>
<div class=" container title">
    <div class="logo"><img class="logo" src="<%= team.logo %>" alt="manchester united logo"/></div>
    <div class="heading"><h1> The Red Devil HQ</h1></div>
    <div class="subheading"><h2>Where fans meet Manchester United ...</h2></div>
    <div class="description"><p><%= team.description %></p></div>
    <div class="image1"><img src="<%= team.image1 %>" alt="manchester united logo"/></div>
</div>
        
        
    



<%- include("partials/footer.ejs") %>